extends layout

block content
  h1 Cross Over Trial Test
  p Welcome to Auction game
  form(class="form")
    input(type="text", name="username", placeholder="username")
    p
    input(type="submit", class="btn btn-success", value="log in")
