<div class="col-md-4">
  <h3>Current Auction</h3>
  <p><strong>Seller:</strong><span> Ridwan Olalere</span></p>
  <div class="row">
    <div class="col-md-6"><img src="/images/diamond.png" style="width:40px;"/>
      <p>Diamond</p>
    </div>
    <div class="col-md-6">
      <h4>Quantity</h4>
      <p>50</p>
    </div>
  </div>
  <p><strong>Time left</strong><span> 50 secs</span></p>
  <p><strong>Wining bid:</strong><span> 120</span></p>
  <p class="center">
    <form>
      <input type="text"/>
      <p></p>
      <input type="submit" value="Place bid" class="btn btn-success"/>
    </form>
  </p>
</div>
